
.hero-background {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    filter: blur(1px);
}

.hero {
    background: transparent;
    min-height: 100vh;
    margin: 0;
    position: relative;
    z-index: 2;
}

.hero .content-container {
    padding: 15vh 10vh;
    min-height: 100vh;
}
.hero .content-container .left-side {
    height: 470px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;

}

.hero h1 {
    font-weight: bold;
}

.hero .logo img {
    width: 58px;
    min-height: 70px;
}

.hero h5 {
    font-size: 1.75rem;
}

.hero .left-side .title-container {
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero .right-side {
    position: relative;
    overflow-y: scroll;
}

.hero .right-side[data-page="Login"] {
    min-height: 470px;
}

.hero .right-side[data-page="Forgot"] {
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right-side::-webkit-scrollbar {
	display: none;
}

.slogan {
    /* margin-top: 25%; */
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.slogan p {
    font-size: 1.4rem;
    margin-bottom: 0;
    font-weight: 300;
    line-height: normal;
}


@media (max-width: 991px) {
    .hero .content-container {
        padding: 5vh;
    }

    .hero .content-container .left-side {
        align-self: center;

    }

    .hero .left-side .title-container {
        position: relative;
        width: 85%;
    }

    .hero .right-side {
        position: relative;
        align-self: center;
    }

    .slogan {
        margin-top: 5vh;
        text-align: justify;
    }
}

@media (max-width: 767px) {
    .hero .content-container {
        padding: 20px;
    }

    .main-container[data-page="Login"] {
        height: fit-content;
    }

    .hero .right-side[data-page="Login"], .hero .right-side[data-page="Register"], .hero .right-side[data-page="Forgot"] {
        height: fit-content;
    }

    .hero .right-side[data-page="Forgot"] {
        justify-content: flex-start;
    }

    .hero .left-side[data-page="Login"], .hero .left-side[data-page="Register"] , .hero .left-side[data-page="Forgot"] {
        display: none;
    }

    .slogan {
        text-align: justify;
    }

    
}