.topography {
    background: url(../../assets/img/Topography.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

@media (max-width: 767px) {
    .topography {
        background: url(../../assets/img/Topography-m.png);
        background-size: cover;
    }
}