@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  font-family: -apple-system, nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2A4458;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paper {
  background: transparent;
}

.bold {
    font-weight: bold;
}

/* --------------- */
/* --------------- */

section {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

/* LOGIN */
.main-container {
    padding: 30px 40px;
    background: #fff;
    border-radius: 10px;
    /* height: 100%; */

}

.main-container[data-page="Login"] {
    height: 100%;
}

.main-container[data-page="Forgot"] {
    height: auto;
}

.main-switch-btn {
    width: 100%;
    margin-bottom: 30px;
}

.main .main-switch-btn Link {
    font-weight: 500;
}

.switch-active {
    background: #607d8b !important;
    color: white !important;
    font-weight: 700 !important;
}

.switch-btn-login, .switch-btn-register {
    border: 2px solid #607d8b;
    height: 25px;
    transition: background 0.5s, color 0.5s, padding-right 0.5s, padding-left 0.5s;
    padding: 1px;
    font-size: 12px;
}

.switch-btn-login {
    border-radius: 15px 0 0 15px;
    color: #607d8b;
}

.switch-btn-login:hover {
    color: #fff;
    background: #455A64;
    font-weight: bold;
    padding-left: 10px;
}

.switch-btn-register {
    border-radius: 0 15px 15px 0;
    color: #607d8b;
}

.switch-btn-register:hover {
    color: #fff;
    background: #455A64;
    font-weight: bold;
    padding-right: 10px;
}

.main-form input[type="email"], input[type="password"], input[type="text"] {
    height: 40px;
    font-size: 12px;
}

.rbt input {
    padding: 0 1rem;
}

.main-form label {
    font-weight: bold;
    font-size: 12px;
    color: #505254;
    cursor: pointer;
    margin-bottom: 0.3rem;
}

.main-form .form-check label {
    font-size: 12px;
    color: #505254;
    cursor: pointer;
}

.main-form .forgot-password {
    font-size: 12px;
    text-align: right;
    padding: 5px 3px;
    font-weight: bold;
}

.main-form button[type="submit"] {
    background: #607d8b;
    color: white;
    border-radius: 30px;
    height: 40px;
    font-weight: 700;
    transition: font-weight 0.5;
    transition: background 0.5s;
    font-size: 14px;
}

.main-form button[type="submit"]:hover {
    background: #455A64;
}

.main-link {
    font-weight: bold;
}

.input-password {
    position: relative;
}

.input-password .input-group-append {
    right: 0;
    position: absolute;
}

.input-password .input-group-text {
    border-radius: 0 .25rem .25rem 0;
    height: 40px;
    background: transparent;
    border: transparent;
}

.form-check-input:checked {
    background-color: #607d8b;
    border-color: #607d8b;
}

.logo-title {
    display: none;
}

.auth-describe h5 {
    font-weight: bold;
}

.auth-describe p {
    font-size: 13px;
}

.toggle-password {
    background: #fff;
    border-left: none;
}

.form-title h5 {
    font-size: 26px;
    font-weight:700;
    margin-bottom: 0;
}

.form-title p {
    font-size: 13px;
}

span[data-testid="not-have-account"] {
    font-size: 13px;
    color: #505254;
}

.link{
    text-decoration: none;
    color: #607d8b;
    transition: color 0.5s ease-in-out;
    font-weight: bold;
}

.link:hover{
    color:#455A64;
}

.back {
    font-size: 13px;
}

/* ERROR 404 */
.error-notfound img {
    height: 300px;
    width: 300px;
}

.error-notfound button {
    transition: background-color 0.5s, color 0.5s;
}

.error-notfound button:hover {
    background-color: #455A64;
    color: #fff;
}


@media (max-width: 767px) {
    .main-container {
        padding: 30px;
        margin-bottom: 7rem;
    }

    .switch-btn-login, .switch-btn-register {
        height: 30px;
        padding: 4px;
    }

    .logo-title {
        display: flex;
        color: #fff;
        justify-content: center;
    }

    .logo-title .logo img {
        width: 70px;
        height: 70px;
    }

    .logo-title .deskripsi {
        /* margin-left: 20px; */
    }

    .logo-title h4 {
        font-weight: bold;
        font-size: 24px;
        margin: 0;
    }

    .auth-describe {
        display: none;
    }


}

/* OTHER */
.loading-container {
    font-size: 13px;
}

.loading {
    height: 14px;
    width: 14px;
}

.invalid-feedback {
    padding-left: 5px;
    font-size: 13px;
}

.show-hide {
    background: transparent;
    border: none;
}

.icon-btn {
    cursor: pointer;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
}




/* FOOTER */



/* ============== */


